
/* Your CSS Code here. */
.main{
	border:1px solid black;
}
.tab-1,th,td{
	border:1px solid black;
}
.tab-2,th,td{
	border:1px solid black;
}
.tab-3,th,td{
	border:1px solid black;
}
.tab-4,th,td{
	border:1px solid black;
}